<h1 align="center"><%= @discipline.name %></h1>

<div class="well">
  <div align="center">
    <%= @discipline.description %>
  </div>
</div>

<div class="btn btn-primary btn-big">
  <%= link_to "edit discipline", edit_discipline_path(@discipline) %>
</div>
