<img src="https://3lbf6l2jthwj1sovtw21iy86-wpengine.netdna-ssl.com/wp-content/uploads/2017/06/Arnold-Schwarzenegger-696x426.jpeg" class="img-thumbnail">
<h1>Witamy <%= current_user.full_name %></h1>

