<h1><%= current_user.full_name %> profile </h1>

<table class="table-striped table-hover">
  <thead>
    <th> Statistics: </th>
  </thead>
  <tbody>

  </tbody>
</table>

<%= link_to "Edit Profile", edit_user_registration_path(current_user), class:"btn btn-lg btn-info" %>
